data_ignore/
examples/mmdetection/
examples/mmrotate
examples/ssdd_tiny/
examples/ssdd_tiny.zip
__pycache__
logs.txt

.vscode/

# wheel build files
*.whl

# model weights and checkpoints
weights/
*.pth
yolo.zip
yolov3.h5
*.tflite
*.onnx
*.h5
*.trt
*edgetpu.log

*.weights
*.names
*.tif

# database files
*.sqlite3
