data_ignore/
examples/mmdetection/
examples/mmrotate
examples/ssdd_tiny/
examples/ssdd_tiny.zip
__pycache__
logs.txt

.vscode/

# model weights and checkpoints
weights/
*.pth
yolo.zip
yolov3.h5

*.weights
*.names
*.tif