contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
geographiclib==2.0
geopy==2.3.0
grpcio==1.53.0
grpcio-tools==1.53.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
mplcursors==0.5.2
numpy==1.24.2
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
protobuf==4.22.1
PyExifTool==0.5.5
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
smopy==0.0.8
threadpoolctl==3.1.0
