geopy==2.3.0
grpcio==1.53.0
grpcio-tools==1.53.0
matplotlib==3.7.1
mplcursors==0.5.2
numpy==1.24.2
opencv_python==4.7.0.72
Pillow==9.5.0
protobuf==4.22.1
PyExifTool==0.5.5
scikit_learn==1.2.2
scipy==1.10.1
smopy==0.0.8
stitching==0.4.0
