html,
body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}

.marker-popup {
  display: flex;
  flex-direction: column;
}

/* .cluster-0 {
  filter: invert(100%);
} */

/* .new-marker {
  animation: marker-popin 10s !important;
} */

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
